.git
.gitignore
.gitattributes
.editorconfig
.env
.env.backup
.env.example
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/tests
/.vscode
/.idea
*.md
npm-debug.log
yarn-error.log
docker-compose.yml
Homestead.json
Homestead.yaml
phpunit.xml
*.log
.DS_Store
Thumbs.db

